@import "../../helpers/mixins.scss";

.pizza-type {
    @include clear-default-btn;
    background: #f9f9f9;
    border-radius: 30px;
    padding: 15px 20px;
    margin-right: 10px;

    &:hover {
        background: #e7e7e7;
    }

    &.active {
        background: #282828;

        .pizza-type__text {
            color: #fff;
        }
    }

    &__text {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.015em;
        color: #2c2c2c;
    }
}
